$font_style:('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$bckg_color: rgb(0, 0, 0);
$font_color: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    background-color: $bckg_color;
    font-style: $font_style;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: $font_color;
}

