$codeodrive_font_color:(#FD957C);
$codeodrive_background_color:(rgba(65, 65, 65, 0.95));

.footer {
    background-color: $codeodrive_background_color;
    flex-basis: content;
}

.footer-span {
    color: $codeodrive_font_color;
}

.footer-header {
    color: $codeodrive_font_color;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.footer-aside {
    display: inline-block;  
}

.footer-aside img {
    max-height: 90px;
}

.footer-paragraph {
    text-align: center;
}

.footer-header__info {
    background-color: aliceblue;
}
